In [5]:
import numpy as np
import pandas as pd

In [6]:
books = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')
users = pd.read_csv('Users.csv')

/tmp/ipykernel_23620/378180666.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [7]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [8]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [9]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [10]:
print("Books Shape: " ,books.shape )
print("Ratings Shape: " ,ratings.shape )
print("Users Shape: " ,users.shape )

Books Shape:  (271360, 8)
Ratings Shape:  (1149780, 3)
Users Shape:  (278858, 3)

In [11]:
books_ratings=books.merge(ratings,on="ISBN")
books_ratings.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0

In [12]:
# popularity based

#logic for top 10 books
n = 10 # top 10 books
reviews_count=books_ratings.groupby("Book-Title")["Book-Rating"].count().reset_index()
reviews_count.rename(columns={"Book-Rating":"NumberOfVotes"},inplace=True)
reviews_average=books_ratings.groupby("Book-Title")["Book-Rating"].mean().reset_index()
reviews_average.rename(columns={"Book-Rating":"AverageRatings"},inplace=True)

popularBooks=reviews_count.merge(reviews_average,on="Book-Title")
popularBooks=popularBooks[popularBooks["AverageRatings"] >=9]
popularBooks=popularBooks.sort_values(by="NumberOfVotes",ascending=False).head(n)

# top 10 books
popularBooks

,Book-Title,NumberOfVotes,AverageRatings
178359,The Blue Day Book: A Lesson in Cheering Yourse...,11,9.181818
47298,Death: The High Cost of Living,9,9.444444
207326,The Shrinking of Treehorn,8,9.500000
27951,"Brief Lives (Sandman, Book 7)",8,9.125000
4462,A Letter to Mrs. Roosevelt,8,9.500000
104554,"Le Combat ordinaire, tome 1",8,9.250000
46638,Death : The Time of Your Life (Death),7,9.428571
194882,The Law,7,9.142857
158967,Shambhala: Sacred Path of the Warrior,7,9.142857
162003,Slide,6,9.166667

In [20]:
#similarity on books

# use DistilBERT

#%pip install sentence-transformers
#%pip install transformers
# Machine learning
import numpy as np
from sklearn.model_selection import train_test_split
import torch
from transformers import DistilBertTokenizer, DistilBertModel # lighter version of BertTokenizer, BertModel
import time
from scipy.spatial.distance import cosine, pdist, squareform
from scipy.sparse import csr_matrix, coo_matrix, hstack
from scipy.sparse import identity
from sklearn.cluster import KMeans
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

book_titles = books['Book-Title']##.tolist()

#### REMOVE!!!
book_titles = book_titles.head(1000).tolist()

print('print(len(books)):', len(book_titles))
    
torch.set_num_threads(2)

if torch.cuda.is_available():
    print("GPU is available")
    print("GPU Name:", torch.cuda.get_device_name(0))
else:
    print("GPU is not available, using CPU")
    

tokenizer = DistilBertTokenizer.from_pretrained('distilbert-base-uncased')
model = DistilBertModel.from_pretrained('distilbert-base-uncased')

# Start timing
start_time = time.time()
batch_size = 64

#model = model.to(torch.device("cuda")) #  Use GPU for the computation

pooled_embeddings = []
for i in range(0, len(book_titles), batch_size):
    batch_titles = book_titles[i:i+batch_size]
    inputs = tokenizer(batch_titles, padding=True, truncation=True, return_tensors="pt", 
                       max_length=128, return_attention_mask=True)

    #inputs = {key: value.to(torch.device("cuda")) for key, value in inputs.items()}

    with torch.no_grad():
        outputs = model(**inputs)

    batch_embeddings = outputs.last_hidden_state.mean(dim=1)
    pooled_embeddings.append(batch_embeddings.cpu())

    # Free up memory after processing each batch
    del inputs, outputs, batch_embeddings
    #torch.cuda.empty_cache()

# Concatenate all batch embeddings
pooled_embeddings = torch.cat(pooled_embeddings, dim=0)

elapsed_time = time.time() - start_time

print(f"Elapsed time: {elapsed_time} seconds")

# Free up memory
#torch.cuda.empty_cache()

print(len(books)): 1000
GPU is not available, using CPU
Elapsed time: 25.5931134223938 seconds

In [21]:
pooled_embeddings

tensor([[-0.0462, -0.0720, -0.4546,  ..., -0.2218,  0.1906,  0.4442],
        [-0.0029,  0.1925, -0.0337,  ..., -0.0465,  0.0703,  0.2442],
        [-0.4074, -0.1645, -0.1539,  ...,  0.0609, -0.3552,  0.1336],
        ...,
        [-0.0339,  0.0752, -0.1216,  ...,  0.2194,  0.1588,  0.0390],
        [ 0.1595, -0.2769, -0.0032,  ...,  0.1395,  0.1804, -0.2921],
        [-0.0568, -0.0718,  0.2604,  ...,  0.0172,  0.0421, -0.0631]])